Edu.Web/Service References/ServiceReference1/ImOkcsClient3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.105.26/OKCSWcf/ImOkcsClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OKCS.PMC.Model.ViewModel" />
  <xs:element name="GetGroupInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OKCS.PMC.Model.ViewModel" minOccurs="0" name="GetGroupInfosResult" nillable="true" type="q1:ArrayOfGroupView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>